@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Hi{
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #000;
  padding-right: 350px;
}
.text{
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
#coinpdf{
  padding: 20px;
  height: 400px;
  width: 400px;
}
#button {
  background-color: rgb(35, 71, 249);
  color: black;
  width: 400px;
  height: 40px;
  cursor: pointer;
}
.Thanks , .team{
  padding-top: 5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

@media screen and (max-width: 768px){
  body{
    font-family: 'Inter', sans-serif;
  }

  .Mail-Certificate::-webkit-scrollbar{
    width: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
  }
  #coinpdf{
    width: auto;
  }
  .Combined-Shape2x-1{
    margin: 0 auto;
  }
  .Hi{
   padding-left: 80px;
   width: 74px;
  }
  .text{
    padding-left: 10px;
  }
  
 
  
}

