@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.Mail-Certificate{
  margin: 0 auto;
}
.container{
 height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  padding: 10px;
  margin: 0 auto;
}
.Hi{
  font-family: Inter;
  padding-right: 350px;
  font-size: 15px;
  font-weight: bold;
  padding-top: 40px;
  text-align: left;
  color: #000;
}
.text{
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #000;
}
#coinpdf{
  padding: 20px;
  height: 400px;
  width: 400px;
}
#button {
  background-color: rgb(35, 71, 249);
  color: black;
  width: 400px;
  height: 40px;
  flex-grow: 0;
  margin-top: 5%;
  cursor: pointer;
}
.Thanks , .team{
  margin-top: 5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.team{
  text-align: left;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

@media screen and (max-width: 768px){
  .Mail-Certificate{
    width: 100vh;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #coinpdf{
    width: auto;
  }
}

